<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>

  <style>
    .product-img {
      width: 100px;
      height: 100px;
      object-fit: initial;
      border-radius: 10px;
    }

    .btn-success {
      padding: 7px 11px 7px 12px;
    }
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <img src="/img/logo/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3" style="font-weight: 500;" style="font-weight: 500;">Sneaker Nike Store</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fab fa-product-hunt" style="font-size: 20px;"></i>
          <span>Quản lý sản phẩm</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Products Manager</h6>
            <a class="collapse-item active" href="/admin/products">Danh sách sản phẩm</a>
            <a class="collapse-item" href="/admin/products/create">Thêm Sản phẩm</a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoryclick" aria-expanded="true"
          aria-controls="categoryclick">
          <!-- Different icon for "Quản lý Danh mục" -->
          <img src="https://icons.veryicon.com/png/o/miscellaneous/fangshan-design_icon/category-18.png"
            style="width: 20px; height: 20px;">
          <span>Quản lý Danh mục</span>
        </a>
        <div id="categoryclick" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh sách danh mục</h6>
            <a class="collapse-item " href="/admin/categories">Danh sách danh mục</a>
            <!-- <a class="collapse-item" href="/admin/voucher/create">Thêm Voucher</a> -->
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerManager"
          aria-expanded="true" aria-controls="customerManager">
          <i class="fa fa-user" style="font-size: 20px;"></i>
          <span>Quản lý người dùng</span>
        </a>
        <div id="customerManager" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý người dùng</h6>
            <a class="collapse-item" href="/admin/users">Danh sách khách hàng</a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#discountsclick" aria-expanded="true"
          aria-controls="discountsclick">
          <img src="https://cdn-icons-png.flaticon.com/512/1874/1874938.png" style="width: 20px; height: 20px;">
          <span>Quản lý Voucher</span>
        </a>
        <div id="discountsclick" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vouchers Manager</h6>
            <a class="collapse-item " href="/admin/voucher/">Danh sách Voucher</a>
            <a class="collapse-item" href="/admin/voucher/create">Thêm Voucher</a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#orderclick" aria-expanded="true"
          aria-controls="orderclick">
          <img src="https://icons.veryicon.com/png/o/miscellaneous/icondian/icon-order-1.png"
            style="width: 20px; height: 20px;">
          <span>Quản lý đơn hàng</span>
        </a>
        <div id="orderclick" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý đơn hàng</h6>
            <a class="collapse-item " href="/admin/orders/">Danh sách đơn hàng</a>
            <!-- <a class="collapse-item" href="/admin/voucher/create">Thêm Voucher</a> -->
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#analyticclick" aria-expanded="true"
          aria-controls="analyticclick">
          <!-- Change the icon source here -->
          <img src="https://iili.io/JI7mMbI.png" style="width: 20px; height: 20px;">
          <span>Báo cáo</span>
        </a>
        <div id="analyticclick" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Doanh thu</h6>
            <a class="collapse-item " href="/admin/orders/">Doanh thu bán hàng</a>
            <!-- <a class="collapse-item" href="/admin/voucher/create">Thêm Voucher</a> -->
          </div>
        </div>
      </li>



      <hr class="sidebar-divider">
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L3BmLWljb240LWppcjIwNjItcG9yLWwtam9iNzg4LnBuZw.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">MD-02 Fall 2023</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách sản phẩm</h1>

          </div>
          <div class="row">
            <div class="main-content px-4" style="overflow: scroll">
              <div class="table-container">
                <div class="row element-button">
                  <div class="col-sm-2">

                    <a class="btn btn-add btn-sm" href="/admin/products/create" title="Thêm"><i class="fas fa-plus"></i>
                      Tạo mới sản phẩm</a>
                      
                  </div>
                </div>
                <hr />

                <table id="productTable" class="table table-bordered table-hover" style="width: 100%">
                  <thead class="table-light">
                    <tr>
                      <th>ID</th>
                      <th>Tên</th>
                      <th>Danh mục</th>
                      <th>Hình ảnh</th>
                      <th>Giá tiền</th>
                      <th>Mô tả</th>
                      <th>Màu sắc</th> <!-- New column for Color -->
                      <th>Kích thước</th> <!-- New column for Size -->
                      <th>Số lượng tồn</th> <!-- New column for Stock -->
                      <th>Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.map((product)=> { %>
                      <tr>
                        <td style="width: 50px;text-align: center;">
                          <a href="products/detail/<%= product.id %>" class="text-black">
                            <%= product.id %>
                          </a>
                        </td>
                        <td style="max-width: 150px">
                          <%= product.name %>
                        </td>
                        <td>
                          <%= product.category.name %>
                        </td>
                        <td class="text-center">
                          <img class="product-img" src="<%= product.thumbnail %>" alt="!lỗi hiển thị ảnh" />
                        </td>
                        <td>
                          <%= (product.price).toLocaleString('vi-VN', { style: 'currency' , currency: 'VND' }) %>
                        </td>

                        <td>
                          <div class="short-description">
                            <%= product.description.slice(0, 50) %>
                              <%= product.description.length> 50 ? '...' : '' %>
                                <span class="more-content" style="display: none;">
                                  <%= product.description.slice(50) %>
                                </span>
                                <a href="#" class="show-more">Xem thêm</a>
                          </div>
                        </td>
                        <!-- Individual columns for Color, Size, and Stock -->
                        <td>
                          <% product.ProductDetails.forEach((detail)=> { %>
                            <%= detail.color %><br />
                              <% }); %>
                        </td>
                        <td>
                          <% product.ProductDetails.forEach((detail)=> { %>
                            <%= detail.size %><br />
                              <% }); %>
                        </td>
                        <td>
                          <% product.ProductDetails.forEach((detail)=> { %>
                            <%= detail.stock %><br />
                              <% }); %>
                        </td>
                        <td class="" style="width: 150px;">
                          <button class="btn btn-primary  trash" data-bs-toggle="modal"
                            data-bs-target="#comfirmDeleteModal" onclick="onDeleteProduct('<%= product.id %>')">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                          <a class="btn btn-success edit" href="/admin/products/edit/<%= product.id %>">
                            <i class="fas fa-edit"></i>
                          </a>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>


              </div>
            </div>

          </div>
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              const showMoreButtons = document.querySelectorAll('.show-more');

              showMoreButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                  e.preventDefault();
                  const moreContent = this.previousElementSibling;
                  moreContent.style.display = 'inline'; // Hiển thị nội dung chi tiết
                  this.style.display = 'none'; // Ẩn nút Xem thêm
                });
              });
            });
          </script>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <form action="/admin/auth/logout" method="POST">
                     <button type="submit" class="btn btn-primary" style="width: auto;">Logout</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>



    </div>
  </div>
  <!-- Scrollto to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script>
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('productTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    // Function to format number to Vietnamese currency (VND)
    function formatCurrency(amount) {
      return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
    }

    // Sử dụng function này để hiển thị giá tiền
    let price = 1000000; // Đây là giá tiền của sản phẩm (cần thay đổi bằng giá tiền thực tế)
    let formattedPrice = formatCurrency(price);

    console.log(formattedPrice); // In ra số tiền có định dạng VND

    onDeleteProduct = (value) => {
      swal({
        title: "Cảnh báo",
        text: "Bạn có muốn xoá sản phẩm này?",
        buttons: ["Hủy", "OK"]
      }).then((result) => {
        if (result) {
          fetch(`products/delete/${value}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              // You may include additional headers if needed
            },
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Xoá không thành công');
              }
              window.location.href = "/admin/products";
            })
            .then(data => {
              // Handle success if needed
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      });
    };

  </script>
</body>

</html>